# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.log

# Secrets
github-key.json
sa-key*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
